@font-face {
    font-family: Inter;
    src: url('../fonts/Inter-Regular.ttf');
}
:root{
    --underline-color:#000000;
}
.evw_invoice_content_container *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
.evw_container{
    display: flex;
    flex-direction: column;
}
.evw_invoice_content_container{
    /* display: none; */
    max-width: 796px;
    /* max-height: 1120px; */
    border: 1px solid var(--underline-color);
    font-size: 12px;
    margin: auto;
    padding: 28px 42px;
    font-family: Inter;
    font-weight: 400;
}
.evw_invoice_address{
    display: flex;
    justify-content: space-between;
}
.evw_address_and_delivery_add{
    display: flex;
    flex-direction: column;
}
.evw_address_and_delivery_add .evw_ews_title{
    margin: 8px 0 0 0;
}
.evw_address_delivery .address_delivery_title{
    margin-bottom: 12px;
}
.evw_address_and_delivery_add .evw_address{
    margin: 12px 0 12px 0;
}
.evw_address_and_delivery_add .evw_address,
.evw_address_and_delivery_add .evw_address_delivery{
    display: flex;
    flex-direction: column;
}

/* ref number */
.evw_reference_number{
    display: flex;
    margin-left: 10%;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}
.reference_number_title{
    margin: 12px 0 8px 0;
}
.evw_logo_ref_number .order_reference{
    display: flex;
    flex-direction: row;
    gap: 24px;
}
.evw_logo_ref_number .evw_logo img{
    width: 290px;
    height: 75px;
}
.evw_logo_ref_number .order_reference span{
    display: flex;
    flex-direction: column;
}
/* note text */
.evw_comment_note{
    margin: 12px 0 8px 0;
}
/* evw_invoice_content */
.evw_invoice_content .invoice_details_grid{
    display: grid;
    grid-template-columns: 0.8fr 0.8fr 2fr 0.7fr 0.5fr 0.55fr;
    grid-template-rows: auto;
    /* row-gap: 10px; */
}
.evw_invoice_content .invoice_details_grid .grid-item{
    padding: 6px 2px;
}
.invoice_details_grid .item1,
.invoice_details_grid .item2,
.invoice_details_grid .item3,
.invoice_details_grid .item4,
.invoice_details_grid .item5,
.invoice_details_grid .item6 {
    border-bottom: 1px solid var(--underline-color); 
}
.invoice_details_grid .item_product_description{
    margin-right:24px;
}

.invoice_details_grid .item_em{
    grid-column: 1 / 4;
}

.invoice_details_grid .item_total_net,
.invoice_details_grid .item_total_net_eur,
.invoice_details_grid .item_total_net_amount{
    border-top: 1px solid var(--underline-color);
    margin-top: 32px;
}
.invoice_details_grid .bottom_underline{
    border-bottom: 1px solid var(--underline-color);
}
.invoice_details_grid .item_total_gross_text,
.invoice_details_grid .item_total_gross_eur,
.invoice_details_grid .item_total_gross_amount{
    border-bottom: 1px solid var(--underline-color);
    position: relative;
}
.invoice_details_grid .item_total_gross_text::after,
.invoice_details_grid .item_total_gross_eur::after,
.invoice_details_grid .item_total_gross_amount::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 0.5px;
    background: #000000;
    bottom: -20%;
    left: 0;
}
/* term */
section .evw_terms_payment_section{
    display: flex;
    flex-direction: column;
}
section .evw_terms_payment_section .terms_of_payment_title{
    font-size: 16px;
    font-weight: 600;
    margin: 24px 0 4px 0;
}
section .evw_terms_payment_section .payment_advance{
    background: #D9D9D9;
    padding: 4px;
}
section .evw_terms_payment_section .position_marked{
    margin: 6px 0;
}
section .evw_terms_payment_section .thank_you{
    margin: 4px 0;
}
.evw_currentprice_deliverysituation .evw_currentprice_deliverysituation_title{
    margin-top: 6px;
    font-size: 16px;
}
.evw_currentprice_deliverysituation .deliverysituation_text{
    margin: 6px 0 10px 0;
}
/* footer  */
.evw_footer_data{
    display: flex;
    justify-content: space-between;
    margin: 8px 0;
    /* gap: 8px; */
    /* align-items: center; */
}
.evw_footer_data .footer_data_item{
    display: flex;
    flex-direction: column;
    font-size: 10px;
}
.evw_download_print_btns{
    display: flex;
    flex-direction: row;
    /* justify-content: end; */
    /* gap: 12px; */
    justify-content: space-between;
    /* align-items: center; */
}
.evw_download_print_btns .evw_btn{
    padding: 8px 16px;
    margin: 4px 0 8px;
    background-color: #6c5ce7;
    border-radius: 5px;
    color: white;
}